.box{
    border: 2px blue solid;
    width: 70%;
    margin: auto;
    height: 400px;
    background-color: lightblue;

}


li:nth-child(3n+1){
    background-color:lavenderblush;
}

input{
    height: 40px;
    width: 70%;
    margin-top: 20px;
    font-size: larger;
}